/* F72585 7209B7 3A0CA3 4361EE 4CC9F0 */

:root {
    --magenta: #F72585;
    --purple: #7209B7;
    --blue: #3A0CA3;
    --cyan: #4361EE;
    --aqua: #4CC9F0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
}

.account-form * {
    margin-bottom: 1rem;
}

.login-form input::placeholder {
    color: #333;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;

}

.login-form form input {
    padding: 0.7rem 0.7rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-size: 1.3rem;
    font-weight: 300;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 15rem;

}

.account-button {
    background-color: var(--cyan);
    color: white;
    width: 100%;
    border-style: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.7rem 3rem;
    cursor: pointer;
    transition : opacity 0.15s ease-in-out;
}

.account-button:hover {
    opacity: 0.8;
}

.hidden {
    display: none;
}

.account-button a {
    text-decoration: none;
    color: white;
}

.change-password {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}



.change-password input[type="text"]
{
    padding: 0.7rem;
}

.login-form form * {
    margin-bottom: 1rem;
}

.cont-nou {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
}



.logare {
    color: rgb(255, 255, 255);
    background-color: var(--cyan);
    border-style: none;
    font-size: 1.5rem;
    margin: 0.5rem 3rem;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.7rem 0.7rem;
    cursor: pointer;
}

.logare a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo {
    width: 200px;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.login-form {
    padding: 3rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgb(204, 204, 204) 0px 0px 15px 0px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

/* UPLOAD BUTTON*/
.upload, .update-tag-btn {
    color: rgb(255, 255, 255);
    background-color: var(--cyan);
    border-style: none;
    font-size: 1.5rem;
    /* margin: 0.5rem 3rem; */
    border-radius: 5px;
    /* margin-top: 1rem; */
    padding: 0.7rem 0.7rem;
    cursor: pointer;
}

/* UPDATE TAG BUTTON */
.update-tag-btn {
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.6rem 0.7rem;

}

.cancel {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-style: none;
    font-size: 1.5rem;
    /* margin: 0.5rem 3rem; */
    border-radius: 5px;
    /* margin-top: 1rem; */
    padding: 0.7rem 0.7rem;
    cursor: pointer;
}

.upscale-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    width: 150px;
}

input[type="radio"] {
    /* display: none; */
    width: 1rem;
    min-width:10px;
}

.upscale-option {
    display: flex;
    flex-direction: row;
}

.upscale-options {
    padding: 0;
    margin: 0;
}

.upload-form {
    padding: 3rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: rgb(204, 204, 204) 0px 0px 15px 0px;
    
}

.upload-form form {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.upload-form form {
    display: flex;
    flex-direction: column;
    width: 15rem;
    justify-content: center;
    align-items: center;
}

.upload-form form * {
    margin-bottom: 1rem;
}

::placeholder {
    color: #333;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;

}

.upload-info {
    max-width: 300px;
    font-weight: 300;
    font-style: italic;
    color: #868686;
    padding: 0.5rem 0rem;
}

.upload-req {
    max-width: 250px;
    font-weight: 300;
    font-style: italic;
    color: #868686;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

.upload-preview {
    max-width: 300px;
    max-height: 350px;
    width: auto;
    height: auto;
    box-shadow: rgb(160, 160, 160) 0px 0px 10px 0px;
    margin: 1rem;
}

.upload-form form input {
    padding: 0.5rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-size: 1.3rem;
    font-weight: 300;
    /* min-width: 300px; */


}

/* container that will contain pictures that wrap around */

.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}



.gallery img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    box-shadow: rgb(160, 160, 160) 0px 0px 10px 0px;
    margin: 1rem;

    transition: opacity 0.4s ease;
}



.gallery img:hover {
    opacity: 0.7;
}

.gallery .like {
    /* bottom: 25px; */
    /* right: 20px; */
    box-shadow: rgb(160, 160, 160) 0px 0px 0px 0px;
    opacity: 1;
    /* display: none; */
    height: 25px;
    margin: 5px;

}

.like-count {
    color: white;
    margin-right: 8px;
    font-weight: 700;
}

.like-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 45px;
    left: 40px;
    background-color: var(--blue);
    border-radius: 17px;
    opacity: 0;
    transition: opacity 0.4s ease;
    outline: none;
    border: none;
    /* transition: background-color 0.4s ease; */
}

/* div .gallery:hover .like {
    opacity: 1;
}  */


.picture-expanded {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.picture-expanded img {
    max-width: 700px;
    max-height: 550px;
    width: auto;
    height: auto;
    box-shadow: rgb(129, 129, 129) 0px 0px 10px 0px;
    margin: 1rem;

    transition: opacity 0.4s ease;
}

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tag, .edit, .delete {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: #868686;
    text-decoration: none;
    background-color: #4361EE;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 20px;
    color: white;
    transition: opacity 0.3s ease;
}

.update-tags-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag:hover {
    opacity: 0.4;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags-update {
    font-size: 1.5rem;
    border-radius: 2rem;
    border-style: solid;
    padding: 0.45rem 1rem;
    margin-right: 1rem;
    font-weight: 300;
}

.edit {
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
    position: relative;
    padding-right: 2rem;
}

.delete {
    background-color: #fcfcfc;
    color: rgb(226, 13, 13);
    position: relative;
    margin-left: 0.4rem;
    padding-right: 2rem;
    border: rgb(255, 0, 0) solid 1px;
}

.delete:hover {
    opacity: 0.4;
}

.edit:hover {
    opacity: 0.7;
}

.edit-icon {
    position: absolute;
    right: 6px;
    top: 8px;
    height: 25px;
}

.delete-icon {
    position: absolute;
    right: 6px;
    top: 7px;
    height: 25px;
}


.details {
    padding: 20px;
    margin: 0 1rem 0;
    flex:1;
    width: 700px;
    font-weight: 300;
}


.meta {
    padding-top: 3rem;
}
.meta * {
    padding-top: 1rem;
    color: rgb(143, 143, 143);
    font-weight: 300;
    font-style: italic;
    font-size: 0.8rem;
    padding: 0 2rem;
}


.author-date {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}

.author {
    color: black;
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
}

.date {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight:300;
    font-style: italic;
    align-self:first baseline;
}


.comment-end {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

.add-comment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
    flex: 1;
    align-items: flex-start;
}
.add-comment-btn:hover {
    opacity:0.8;
}

.comment {
    font-size: 1.2rem;
    font-weight: 300;
    /* font-style: italic; */
    color: #616161;
    width: 100%;
}

.comment-text:focus {
    outline: none;
}

.comment-input {
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-width: 2px;
    border-bottom-color: rgb(194, 194, 194);

    border-bottom-style: solid;
    font-weight: 300;
    resize: none;
    overflow-y: hidden;
    padding: 0.2rem;
    /* box-shadow: rgb(228, 228, 228) 0px 0px 5px 0px; */
    transition: border-color 0.2s;
}

.comment-input:focus {
    border-color:rgb(129, 129, 129);

    outline: none;
}

.comment-input::placeholder {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: #868686;
}
.add-comment-btn {
    padding-top:1rem;
    background-color: var(--cyan);
    color: white;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin-top: 0.3rem;
    border:none;
    align-self:last baseline;
    transition: opacity 0.3s ease;

}

.delete-comment {
    cursor:pointer;
    color: red;
    font-weight: 300;
    font-style: italic;
    align-self:first baseline;   
    transition: opacity 0.3s ease;
}
.delete-comment:hover {
    opacity: 0.5;
}

/* table,th, td {
   border: 1px solid black;
} */

.modify-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    flex: 1;
}

optgroup {
    font-size: 1.2rem;
}

select {
    background-color: #ffffff;
    font-size: 1rem;
    margin-top: 0.6rem;
    padding: 0.4rem 0.4rem;
    width: 80%;
    border: none;
    box-shadow: rgb(187, 187, 187) 0px 0px 5px 0px;
    color: rgb(0, 0, 0);
    border-radius: 0.4rem;
    text-align: center;
}

#modify-user {
    margin: 0.6rem 0;
    width: 80%;
    padding: 0.5rem 0.5rem;
    border: none;
    box-shadow: rgb(187, 187, 187) 0px 0px 5px 0px;
    color: rgb(0, 0, 0);
    border-radius: 0.4rem;
}
#modify-user::placeholder {
    font-size: 1rem;
}

.modify-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}
tr:hover {
    background-color: #f1f1f1;
}